@import '/styles/design.scss';

.card-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;

  padding: $space_10 $space_0;
  border-radius: $space_10;

  &_side {
    display: flex;
    align-items: center;
    gap: $space_10;
    font-weight: 600;
  }

  &_image {
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }
}

.card-item_hover {
  &:hover {
    background-color: $bg_secondary;
    opacity: 1;
  }
}