@import '/styles/design.scss';

.card-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;

  padding-top: $space_10;
  padding-bottom: $space_10;

  &_side {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
  }

  &_image {
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }
}