@import '/styles/design.scss';

.newsHeader {
  font-size: 1.5rem;
  margin-top: 3.5rem;
}

.newsWrapper {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.newsCarousel {
  padding-top: 1rem;

}

.control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}