@import '/styles/design.scss';

.coinPage {
  display: flex;
}

.coin {
  &_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    &_symbol {
      color: $text-secondary;
    }

    &_rank {
      border: 0.5px solid grey;
      border-radius: 0.375rem;
      padding: 0.125rem 0.375rem;
      background-color: $bg-secondary;
      opacity: 1;
      line-height: 1rem;
      font-weight: 500;
    }

    h1 {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }

    image {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &_price {
    display: flex;
    align-items: center;
    gap: 10px;

    &_amount {
      font-size: 2.25rem;
      font-weight: 600;
      line-height: 2.5rem;
    }
    &_24h {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}

.table {
  &_header {
    padding-top: 25px;
    font-size: 1.125rem;
  }
  &_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  &_tickersList {
    margin-top: 3.5rem;
  }

  @media screen and (max-width: 600px) {
    width: auto;
  }
}

.pill-container {
  display: flex;
  gap: $space_10;
  flex-grow: 1;
  align-items: center;

  &-item {
    margin: $space_0;
    padding: $space_5;
  }
}

.pill-text {
  font-weight: 600;
  span {
    font-size: 0.875rem;
  }
  @include mobileMaxWidth() {
    span {
      font-size: 0.75rem;
    }
  }
}

.description {
  a {
    text-decoration: underline;
    color: $accent-color2;
  }
}

.show-more {
  &__icon {
    display: flex;
    align-items: center;
  }

  > :hover {
    cursor: pointer;
  }

  svg {
    height: 20px;
    width: 20px;
  }
}