@import 'styles/design.scss';

.modal {
  h3 {
    margin-bottom: 0.5rem;
  }

  .listWrapper {
    overflow: scroll;
    height: 500px;

    margin-top: 1rem;
    margin-bottom: 0.75rem;
    padding-right: 20px;

    &__divider {
      padding: $space_0 $space_10;
    }
  }
}