@import '/styles/design.scss';

.title {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 130%;
  font-weight: 700;

  h1 {
    font-size: 1.55rem;

    @include mobileMaxWidth() {
      font-size: 1.3rem;
    }
  }
}

.paginationWrapper {
  margin-top: 1.2rem;
  &__content {
    display: flex;
    justify-content: center;
  }
}
