@import '/styles/design.scss';

.title {
  line-height: 130%;
  font-weight: 700;

  h1 {
    font-size: 1.55rem;

    @include mobileMaxWidth() {
      font-size: 1.3rem;
    }
  }
}

.trendingList {
  padding: 24px 0;
}

.paginationWrapper {
  margin-top: 1.2rem;
  &__content {
    display: flex;
    justify-content: center;
  }
}
