@import 'styles/design.scss';

.coinItemWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  cursor: pointer;
}

.coinItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  padding: 0.75rem;
  
  &--image {
    height: 28px;
    width: 28px;
  }

  &--name {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.5rem;
    color: $text-primary;
  }

  &--symbol {
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: 0.5rem;
    color: $text-secondary;
  }
}