@import '/styles/design.scss';

.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 5rem;

  @include mobileMaxWidth() {
    padding: 1rem;
  }

  .container {
    width: 500px;
  }

  &_header {
    font-size: 1.3rem;
    padding-bottom: 1rem;
    font-weight: 800;
    color: $text-primary;

    @include mobileMaxWidth() {
      font-size: 1.3rem;
    }

    @include smallMobileMaxWidth() {
      font-size: 1rem;
    }
  }

  &_footer {
    @include mobileMaxWidth() {
      justify-content: center;
    }
  }
}
