@import '/styles/design.scss';

.trendingPageHeader {
  padding: 2rem 0;

  h2 {
    @include mobileMaxWidth() {
      font-size: 1.3rem;
      line-height: 1.2;
    }
  }

  p {
    @include mobileMaxWidth() {
      font-size: 0.875rem;
      padding-top: $space_5;
    }
  }
}