@import '/styles/design.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $bg-secondary;
  color: #fff;
  padding: 1rem 2rem;

  .banner {
    display: grid;
    place-items: center;
    width: 100%;

    &-image {
      object-fit: cover;
      width: 140px;
      height: 55px;
    }
  }
}