@import '/styles/design.scss';

.header {
  background-color: $bg-secondary;
  color: #fff;
  padding: 1rem;
  text-align: left;

  .sign-in-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}