@import '../../../styles/design.scss';

.coin-market {
  h2 {
    font-size: 1.5rem;
  }

  .table {
    border-bottom: calc(0.0625rem * 1) solid #424242;
  }
}

.icon-symbol {
  display: flex;
  gap: 1rem;
}

.trade-url {
  color: $text-primary;
  display: flex;
  gap: $space_2;
  &:hover {
    text-decoration: none;
  }
}

.table-body {
  display: flex;
}

.trust-score {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}