// -------------------------
// Fonts -------------------
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// -------------------------
// Color Theme -------------
$bg-primary: #0B0F14;
$bg-secondary: #1A2029;
$bg-panel: #2C353F;

$text-primary: #EAEAEA;
$text-secondary: #A8A8A8;

$accent-color1: #00BFA6;
$accent-color2: #FF4081;
$accent-color3: #FFC107;

$success-color: #4CAF50;
$warning-color: #FF9800;
$error-color: #F44336;

$border-primary: #2B303B;
$border-accent: #00BFA6;

$price-green: rgb(2, 192, 118);
$price-red: rgb(248, 73, 96);

// -------------------------
// Spacing -----------------
$space_0: 0;
$space_2: 2px;
$space_4: 4px;
$space_5: 5px;
$space_8: 8px;
$space_10: 10px;
$space_12: 12px;
$space_16: 16px;
$space_20: 20px;
$space_24: 24px;

// -------------------------
// Breakpoints -------------
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin tabletMaxWidth() {
  @media screen and (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin tabletMinWidth() {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin mobileMaxWidth() {
  @media screen and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin mobileMinWidth() {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin smallMobileMaxWidth() {
  @media screen and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin smallMobileMinWidth() {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}