// Fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Color Theme
$bg-primary: #0B0F14;
$bg-secondary: #1A2029;
$bg-panel: #2C353F;

$text-primary: #EAEAEA;
$text-secondary: #A8A8A8;

$accent-color1: #00BFA6;
$accent-color2: #FF4081;
$accent-color3: #FFC107;

$success-color: #4CAF50;
$warning-color: #FF9800;
$error-color: #F44336;

$border-primary: #2B303B;
$border-accent: #00BFA6;

// Spacing
$space_0: 0;
$space_0_5: 2px;
$space_1: 4px;
$space_2: 8px;
$space_2_5: 10px;
$space_3: 12px;
$space_4: 16px;
$space_5: 20px;
$space_6: 24px;