@import 'normalize.css';
@import './design.scss';

* {
  box-sizing: border-box;
  margin: $space_0;
  padding: $space_0;
}

html,
body {
  font-family: $font-secondary;
  background-color: $bg-primary;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

// -----------------------------
// ------ Container/Panel ------
.container, .panel {
  background-color: $bg-panel;
  border: 1px solid $border-primary;
  padding: $space_4;
  border-radius: $space_2;
}

// -----------------------------
// -------- Heading ------------
h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  color: $text-primary;
  margin: 0;
}

h1 {
  font-size: 2.5rem; /* Larger on desktops */
  line-height: 1.2;
}

// -----------------------------
// -------- Text ---------------
p {
  color: $text-secondary;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: $text-primary;
  text-decoration: none; 
}

a:hover {
  color: $accent-color2;
  cursor: pointer;
}

// -----------------------------
// -------- Inputs -------------
input, textarea {
  background-color: $bg-secondary;
  color: $text-primary;
  border: 1px solid $border-primary;
  padding: $space_10;
  border-radius: $space_4;
}

input:focus, textarea:focus {
  border-color: $accent-color1;
  outline: none;
}

// -----------------------------
// -------- Button -------------
button {
  background-color: $accent-color1;
  color: $text-primary;
  border: $border-accent;
  padding: $space_10 $space_2;
  cursor: pointer;
  border-radius: $space_4;
  font-family: $font-primary;
}

// -----------------------------
// ---- Error Handling ---------
.success {
  color: $success-color;
}

.warning {
  color: $warning-color;
}

.error {
  color: $error-color;
}

@include mobileMinWidth() {
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }
}